
// Border colors
$border-black: 1px solid $black;
$border-gray-lt: 1px solid $gray-l;
$border-black-bold: 8px solid $black;
$border-tr-bold: 8px solid transparent;
$border-warning: 1px solid $warning-r;
$border-orange-md: 3px solid $orange;
$border-tabs-gr: 1px solid $tabs-br;