// Border-radius
$round-sm: 4px;
$round-xs: 5px;
$round-lg: 18px;
$round-xx-lg: 35px;

$round-l-tb: 4px 0 0 4px;
$round-r-tb: 0 4px 4px 0;

// Height-inputs
$height-input: 36px;
// Set default margin value here
$margin: 1.428rem;

$margin-lg: $margin * 2;// 2.856rem
$margin-md: $margin * 0.75;// 1.071rem
$margin-sm: $margin * 0.5;// 0.714rem
$margin-xs: $margin * 0.25;// 0.357rem
