.auth {
  @include clearfix;
  @include gradient-v($bg-orange-dk, $bg-orange-lt);
}
.bg-auth {
  min-height: 504px;
  background: url("/images/bg_form.png") no-repeat;
  background-position: center;
}
.container-user-login {
  width: 100%;
  float: left;
  box-shadow: $shadow-bg;
  margin: $margin 0;
  border-radius: $round-sm;
  position: relative;
  z-index: 99;
  &:before, &:after {
    @include pseudo-absolute;
    z-index: -99;
    bottom: $margin-sm;
    left: $margin-sm;
    width: 50%;
    height: 33px;
    max-width: 300px;
    box-shadow: $shadow-bg-form;
    transform: rotate(-3deg);
  }
  &:after {
    right: 10px;
    left: auto;
    transform: rotate(3deg);
  }
}